body{
   min-width:900px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:900px;            /* As IE6 ignores !important it will set width as 1000px; */
 
   min-height:900px;        /* Suppose you want minimum width of 1000px */
   height: auto !important;  /* Firefox will set width as auto */
   height:900px;    /* As IE6 ignores !important it will set width as 1000px; */
  
    }
  
.page-container{
  position: relative;
  min-height: 100vh;
}
.album-title{
  display: flex;
  font-size: xx-large;
  height: 69px;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  /*background-image: url('#');*/
  background-color: black;
  color: white;
  margin-top: 1%;
}
.scaled-icy-spot-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scaled-icy-cover{
  width: auto;
  margin-top: 4%
}
.spot-scaled-playlist{
  border: none;
  margin-top: 4%;
  height: auto;
  width: 100%;
}

.album-title:hover {
  background-color: yellow;
  color: black;
}

.ned{
  height: 25px;
  width: auto;
  align-self: center;
  justify-self: right;
}

.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.trench-album{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-self: center;
}

.trench-cover{
  width: auto;
  align-self: center;
}

.trench-spotify{ 
  border: none;
  margin-top: 4%;
  height: auto;
  width: 100%;
}

.blurryface-album{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-self: center;
}

.blurryface-cover{ 
  width: auto;
  align-self: center;

}

.blurryface-spotify{
  border: none;
  height: auto;
  width: 100%;
} 

.vessel-album{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
} 

.vessel-cover{
  width: auto;
  align-self: center;
}
.vessel-spotify{
  border: none;
  margin-top: 4%;
  width: 100%;
}
.selftitled-album{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 4%;
}
.selftitled-cover{
  width: auto;
}
.selftitled-spotify{
  border: none;
  height: auto;
  width: 100%;
}

iframe{
  margin-right: 4%;
}

