div{
  color: black;
}
.scaled-icy-spot-wrapper{
  display: flex;
  flex-direction: row;
  align-items: left;
}
.scaled-icy-cover{
  height: auto;
  width: 100%;
  margin-left: 8%;
}
.spot-scaled-playlist{
  border: none;
}