.album-title{
  display: flex;
  color: black;
  background-color: white;
  font-size: large;
  height: 69px;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
}
.scaled-icy-spot-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scaled-icy-cover{
  height: 100%;
  width: 100%;
  margin-left: 4%;
  margin-top: 4%;
}
.spot-scaled-playlist{
  border: none;
  margin-top: 4%;
  height: auto;
  width: 100%;
}