header {
  display: flex;
  background-color: #fc7fb4;
  justify-content: space-between;
  height: 200px;
  margin: 0;
}

footer{
  display: block;
}

body{
  background-color: pink;
}

content{
  width: 20%;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
  
.top-logo{
  height: 180px;
  width: auto;
}

.album{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 1%;
}

