header {
  display: flex;
  background-color: #fc7fb4;
  justify-content: space-between;
  height: 200px;
  margin: 0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  width: 100%; 
  padding: 0;
}

footer{
  display: block;
  margin-top: 25px;
  background-color: #fc7fb4;
  padding: 8px 16px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 100px;
  margin-left: 100px;
  padding: 1em;
  background-color: none;
  margin-top: 32px;
  gap: 2px;
  background: rgba(255, 255, 255, 0.8);
}

.album{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 1%;
}

.top-logo{
  height: 150px;
}

body {
  background-image: url('https://cdn.glitch.global/6135496d-e9d1-4269-85a8-5eca40d122c0/backg.jpg?v=1644271555309');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-size: 100% 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
  }


