body{
   min-width:900px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:900px;            /* As IE6 ignores !important it will set width as 1000px; */
 
   min-height:900px;        /* Suppose you want minimum width of 1000px */
   height: auto !important;  /* Firefox will set width as auto */
   height:900px;            /* As IE6 ignores !important it will set width as 1000px; */
  
  background-image: url('https://cdn.glitch.global/6135496d-e9d1-4269-85a8-5eca40d122c0/backg.jpg?v=1644271555309');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-size: 100% 100%;
}


header {
  display: flex;
  background-color: #fc7fb4;
  justify-content: space-between;
  height: 150px;
  margin: 0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  width: 100%; 
  padding: 0;
}

footer{
  display: block;
  margin-top: 25px;
  background-color: #fc7fb4;
  padding: 8px 16px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 100px;
  margin-left: 100px;
  padding: 1em;
  background-color: none;
  margin-top: 32px;
  gap: 2px;
  background: rgba(255, 255, 255, 0.8);
}

.album{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 1%;
}

.top-logo{
  height: 100px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
  }

.spotify-logo{
  width: 120px;
  align-self: center;
  
}

.blurry-cover{
  height: 350px;
  width: auto;
  margin-left: 2%;
  align-self: center;
  
}

iframe{
  margin-left: 8%;
  margin-right: 8%;
  padding: 1em;
  height: 500px;
}

p {
  line-height: 2 ;
} 

.blurry-spotify{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.spot-frame{
  margin-left: 2px;
  margin-right: 4%;
  height: 350px;
  width: 100%;
  border: none;

}

.title{
  font-size: 30px;
}

.trash-the-drag{
  align-self: center;
  height: auto;
  width: 260px;
}